.digital-section{
  width: 100%;
  background-color: #FAFAFA;
  background-image: url("../../image/hero-bg-desktop.png");
  background-repeat: no-repeat;
  background-position:  calc(50% + 615px) calc(50% - 50px);
}
.digital{
  padding: 260px 0 227px 0;
  position: relative;
}
.digital__img{
  width: 729px;
  height: 900px;
  position: absolute;
  left: calc(58%);
  top: 0;
}
.digital__img-mobile{
  position: absolute;
  display: none;
  width: 327px;
  height: 402px;
  margin: 0 5px 0 5px;
}
.digital__content{
  width: 45%;
}
.digital__title{
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}
.digital__text{
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.digital__link{
  display: inline-block;
  width: 100%;
  max-width: 163px;
  padding: 8px 33px;
  text-decoration: none;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  transition: opacity 0.3s ease-in-out;
}
.digital__link:hover{
  opacity: 0.4;
}

@media only screen and(max-width: 768px){
  .digital-section{
    background-image:  url("../../image-mobile/hero-bg-mobile.png");
    background-position: calc(50% + 180px) calc(50% - 225px);
  }
  .digital{
    padding: 410px 0 88px 0;
    position: relative;
  }
  .digital__content{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .digital__title{
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 16px;
  }
  .digital__text{
    font-size: 15px;
    line-height: 25px;
  }
  .digital__img{
    display: none;

  }
  .digital__img-mobile{
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;

  }
}

@media only screen and(max-width: 560px){
  .digital-section{
    background-position: calc(50% + 180px) calc(50% - 240px);
  }


}
@media only screen and(max-width: 386px){
  .digital-section{
    background-position: calc(50% + 180px) calc(50% - 230px);
  }
}
@media only screen and(max-width: 347px){
  .digital-section{
    background-position: calc(50% + 180px) calc(50% - 270px);
  }
}
