.articles-section{
  background-color: #FAFAFA;
}
.articles{
  padding: 80px 0;
}
.articles__title{
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.articles__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.articles__item{
  width: 100%;
  max-width: 255px;
  background-color: #fff;
  margin: 0 15px 20px;
}
// .articles__item + .articles__item{
//   margin-left: 30px;
// }
.articles__item-img{
  margin-bottom: 25px;
}
.articles__content{
  width: 100%;
  max-width: 207px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.articles__item-info{
  margin: 0;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}
.articles__item-title{
  margin: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
  transition: color 0.3s ease-in-out;
}
.articles__item-title:hover{
  color: #30C88F;
}
.articles__item-text{
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}
@media only screen and(max-width: 922px){
  .articles__title{
    text-align: center  ;
  }
  .articles__list{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and(max-width: 560px){
  .articles{
    padding: 88px 0;
  }
  .articles__title{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    margin-bottom: 31px;
  }
  .articles__list{
    flex-direction: column;
    align-items: center;
  }
  .articles__item-text{
    line-height: 18px;
  }
}